
body {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Helvetica", arial, sans-serif;
    color: white;
}

.base {
    text-align: center;
    width: 100%;
    height: 100%;
}

.primary-page {
    background-position: center;
}

.secondary-page {
    background-position: right;
}

.admin-page{
    background: #2B2727;
}

.logo{
    position: relative;
    width: 120px;
    top: 50px;
    left: 10px;
    opacity: 60%;
}

.room{
    width: 260px;
    height: 112px;
    display: flex;
}

.roomImage {
    width: 121px;
    height: 96px;
    margin: 8px;
    border-radius: 15px;
}

.roomImageSmall {
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    width: 86px!important;
    height: 61px!important;
}

.roomData {
    display: block;
    margin-left: auto;
    text-align: right;
    margin-right: 17px;
    margin-top: 11px;
}

.roomName {
    text-transform: uppercase;
}

.roomPrice {
    font-weight: lighter;
}

.basic{
    background-image: url("/images/basic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.glossy{
    background-image: url("/images/glossy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.homely{
    background-image: url("/images/homely.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hutty{
    background-image: url("/images/hutty.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.modern{
    background-image: url("/images/modern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.vintage{
    background-image: url("/images/vintage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    text-align: center;
    font-size: 28px;
    text-decoration: underline;
    font-weight: lighter;
    margin: 50px auto 33px;
    line-height: 50px;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: white;
    display: block;
    opacity: 100;
    background: unset;
}

.inputRow input[type="date"]::-webkit-calendar-picker-indicator {
    color: #303C4B;
    display: block;
    opacity: 100;
    background: unset;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background: unset;
}

input[type="date"] {
    text-transform: uppercase;
    appearance: none;
    -webkit-appearance: none;
    color: white;
    font-size: 33px;
    background-color: rgba(52, 191, 193, 0.75);
    display: inline-block !important;
    visibility: visible !important;
    padding: 15px 5px 15px 20px;
    width: 235px;
}

.block{
    background-color: rgba(52, 191, 193, 0.75);
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    margin: 0 auto;
    margin-bottom: 18px;
    font-size: 22px;
    border-radius: 15px;
    text-align: center;
    outline: none;
    border: none;
    color: white !important;
}

.bigButton{
    width: 260px;
    height: 52px;
}

.smallButton{
    width: 120px;
    height: 52px;
    font-size: 20px;
}

.mainScreenButtons {
    padding-top: 100%;
}

.date-picker label {
    font-size: 20px;
    font-weight: bolder;
}

.date-picker input {
    margin-top: 7px;
}

.date-picker {
    display: grid;
    margin-bottom: 40px;
}

.navButtons {
    display: flex;
    max-width: 260px;
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.navButtons button {
    margin-right: unset !important;
    margin-left: auto;
}

.inputRow input{
    width: 190px;
    height: 20px;
    border-radius: 15px;
    font-size: 14px !important;
    padding: 11px 16px;
    margin-top: 7px;
    outline: none;
    background: white;
    color: #303C4B;
    border: none;
}

.inputRow label {
    font-size: 16px;
}

.inputRow {
    margin-bottom: 10px;
}

.clientForm {
    width: 260px;
    padding: 20px 0;
}

.thin label {
    font-size: 10px !important;
    float: left;
    margin-left: 30px;
}

.thin input {
    font-size: 10px !important;
    height: 20px !important;
    padding: 3px 16px !important;
    margin-top: 5px !important;
}

.finalInformation .infoIconWhite{
    display: inline-block;
    position: relative;
    bottom: 1px;
    right: 7px;
    width: 15px;
}

.infoIconWhite{
    height: 15px;
    width: 24px;
    border-radius: 50%;
    background: white;
    color: #313B4A;
    font-size: 9px;
    margin-left: 19px;
    font-weight: bold;
}

.checkBox input {
    width: 15px;
    height: 15px !important;
    margin-left: 19px!important;
}

.checkBox label {
    margin-top: 5px;
    margin-left: 6px!important;
}

.finalInformation{

    width: 212px;
    padding: 11px 24px;
    margin-top: 18px;
}

.finalInformation span{
    text-align: center;
    font-size: 10px;
}

.finalInformation p {
    font-size: 10px;
    text-align: left;
}

.finalNotification {
    width: 212px;
    height: 68px;
    padding: 18px 24px;
    margin-top: 65px;
    display: flex;
}

.finalNotification span {
    font-size: 17px;
    text-align: left;
}

.finalNotification div {
    width: 146px;
    height: 58px;
    border-radius: 50%;
    background: white;
    color: #313B4A;
    font-size: 42px;
    margin-left: 19px;
}

.bottomLink {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    font-size: 10px;
}

.reservationsBlock {
    width: 260px;
    overflow-y: scroll;
    height: 55vh;
    padding-top: 25px;
    padding-bottom: 10px;
}

.reservationsForm {
    width: 201px;
    background: white;
    padding: 0 10px;
    box-shadow: none;
}

.reservationsForm input[type="text"] {
    border: none;
    width: 97px;
    position: relative;
    bottom: 2px;
}

.reservationsForm input[type="radio"],
.reservationsUser input[type="radio"]{
    position: relative;
    top: -10px;
    background: white;
    left: -3px;
    -webkit-appearance: button;
    border-radius: 50%;
    outline: none;
}

.reservationsForm input[type="radio"]:checked:after,
.reservationsUser input[type="radio"]:checked:after{
    display: block;
    content: " ";
    background: #2B2727;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: relative;
    top: 0px;
    left: 0px;
}

.checkmark {
    background: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    bottom: -6px;
}

#acceptedL {
    border:2px solid #1AC436;
}

#pendingL {
    border:2px solid #E6C312;
}

#rejectedL {
    border:2px solid #DC193A;
}
.infoIconBlue {
    background: #214EB7;
    font-size: 14px;
    color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 3px;
}

.loginNotification {
    font-size: 16px;
    padding: 10px;
}

.passwordField {
    display: none;
}

.reservationsUser {
    width: 210px;
    padding: 6px 10px 16px 6px;
}

.reservationStateUser {
    border-radius: 15px;
    width: 96px;
    height: 26px;
    background: white;
}

.reservationsUser input[type = "text"] {
    border: none;
    background: bottom;
    color: white;
    width: 100%;
}

.resState {
    font-size: 10px;
    margin-right: 30px;
    position: relative;
    top: 4px;
}

a {
    text-align: center;
    text-decoration: none;
    color: white;
}

a span {
    position: relative;
    top: 15px;
}

input {
    outline: none;
}

:root {
    --display-dot: none;
}