<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detail rezervace</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="stylesheet" href='/css/style.css' />
    <link rel="shortcut icon" href="/images/logo.png" />
</head>
<body class="admin-page">
<div class="base">

    <div class="heading">
        <span>DETAIL REZERVACE</span>
    </div>

    <div class="block clientForm">
        <div class="inputRow thin">
            <label>E-MAIL</label>
            <input type="text" th:value="${client.email}" class="inputTextField" name="email"readonly>
        </div>
        <div class="inputRow thin">
            <label>JMÉNO</label>
            <input type="text" th:value="${client.name}" class="inputTextField" name="name" readonly>
        </div>
        <div class="inputRow thin">
            <label>DATUM NAROZENÍ</label>
            <input type="text"  th:value="${dateOfBirthFormatted}" class="inputTextField" name="dateOfBirthFormatted" readonly>
        </div>
        <div class="inputRow thin">
            <label>TELEFON</label>
            <input type="text" th:value="${client.number}" class="inputTextField" name="number" readonly>
        </div>
        <div class="inputRow thin">
            <label>DATUM POBYTU</label>
            <input type="text" th:value="${checkInFormatted + ' - ' + checkOutFormatted}" class="inputTextField" readonly>
        </div>
        <div class="block room" style="width: 221px; height: 83px; margin-top: 15px">
            <input type="text" th:value="${room.name}" style="display: none" name="roomName">
            <div class="roomImage" th:classappend="${room.name}" style="width: 103px; height: 69px">
            </div>
            <div class="roomData">
                <div class="roomName">
                    <span th:text="${room.name}"></span>
                </div>
                <div class="roomPrice">
                    <span th:text="${room.price}"></span> Kč
                </div>
            </div>
        </div>
    </div>
    <div class="navButtons" style="bottom: unset">
        <a class="bottomNav" onclick="history.go(-1); return false;" href="#"><div class="block bigButton"><span>Předchozí</span></div></a>
    </div>
</div>
</body>
</html>